{% extends 'base.html' %}

{% load static %}

{% block content %}
	<!-- home page slider -->
	<div class="homepage-slider">
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-1">


			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">24/7 saytimiz ishlaydi</p>
								<h1>mazzali va yoqimli</h1>
								<div class="hero-btns">
									<a href="{% url 'shop' %}" class="boxed-btn">Fast Foodlar ro'yxati</a>
									<a href="{% url 'contact' %}" class="bordered-btn">Biz haqimizda</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">har kuni yangiliklar</p>
								<h1>100% mazzali</h1>
								<div class="hero-btns">
									<a href="{% url 'shop' %}" class="boxed-btn">Fast foodlar royxati</a>
									<a href="{% url 'contact' %}" class="bordered-btn">Biz Haqimizda</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-right">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">katta sotuvlar bo'lvoti</p>
								<h1>tatib ko'ring va baho bering</h1>
								<div class="hero-btns">
									<a href="{% url 'shop' %}" class="boxed-btn">Fast foodlar royxati</a>
									<a href="{% url 'contact' %}" class="bordered-btn">Biz haqimizda</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end home page slider -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>tekin dostavka</h3>
							<p>qachonki 50mingli mahsulot olsangiz</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 ishlaymiz</h3>
							<p>har uni dostavka</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>qaytarish</h3>
							<p>agarda xato dastavka borgan bolsa</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->

	<div class="product-section mt-150 mb-150">

		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Bizning</span> Mahsulotlar</h3>
					</div>
				</div>
			</div>


			<div class="row">
				{% for burger in three_burger%}
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'product-detail' burger.pk %}"><img src="{{ burger.photo.url}}" alt=""></a>
						</div>
						<h3>{{burger.name}}</h3>
						<p class="product-price"><span>{{burger.gram}} gm</span> {{ burger.price }} - so'm</p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> xarid qilish </a>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
	</div>
	<!-- end product section -->


	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://youtu.be/GPBe-oYlG1A?si=i7pW0y-JZLRt3O6Y" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">2007-yil dan beri</p>
						<h2>biz <span class="orange-text">Fast food</span></h2>
						<p>Fast food ommaviy ishlab chiqarilgan oziq-ovqat turi boʻlib, xizmat koʻrsatish tezligiga ustuvor ahamiyat beradi.</p>
						<p>Fast foodning eng tezkor shakli kutish vaqtlarini atigi soniyalarga qisqartiradigan oldindan tayyorlangan taomlardan iborat.</p>
						<a href="{% url 'about' %}" class="boxed-btn mt-4">BIZ HAQIMIZDA</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->



{% endblock content %}